/* 花呗 */
.icon-huabei {
    background: url(http://qno.ttscw.top/logos/huabei.png) no-repeat center;
    background-size: 100% 100%;
}

/* 京东 */
.icon-jingdong {
    background: url(http://qno.ttscw.top/logos/jingdong.png) no-repeat center;
    background-size: 100% 100%;
}

/* 支付宝 */
.icon-zhifubao {
    background: url(http://qno.ttscw.top/logos/zhifubao.png) no-repeat center;
    background-size: 100% 100%;
}

/* 微信 */
.icon-weixin {
    background: url(http://qno.ttscw.top/logos/weixin.png) no-repeat center;
    background-size: 100% 100%;
}

/* qq */
.icon-qq {
    background: url(http://qno.ttscw.top/logos/shishishuaqia_weixin-.png) no-repeat center;
    background-size: 100% 100%;
}

/* paypal */
.icon-paypal {
    background: url(http://qno.ttscw.top/logos/paypal.png) no-repeat center;
    background-size: 100% 100%;
}

/* 数字人民币 */
.icon-shuzirmb {
    background: url(http://qno.ttscw.top/logos/shuzirenminbiApp.png) no-repeat center;
    background-size: 100% 100%;
}